
# ==========================================
# PLAYWRIGHT HYBRID FRAMEWORK ENVIRONMENT
# ==========================================

# Base Application Routing

URL=https://example.meditab.local
EHR_CLINIC=ClinicCode

# ==========================================
# PARALLEL WORKER CREDENTIALS
# Note: You need 4 distinct users to run the full sharded suite locally
# The maximum number of parallel workers is determined by the number of unique user credentials you have, so if you only have 2 users, you can only run 2 parallel workers.
# Similarly, for sharding to work correctly, you need at least as many unique users as the (number of shards * number of worker in each shard) you want to run. If you have 4 shards, you need 4 unique users.
# So, with 4 unique users, you can run:
# - 4 parallel workers in a single shard, or
# - 2 shards with 2 parallel workers each, or
# - 4 shards with 1 parallel worker each
# ==========================================

EHR_USERNAME_1=user_1
EHR_PASSWORD_1=Password1

EHR_USERNAME_2=user_2
EHR_PASSWORD_2=Password2

EHR_USERNAME_3=user_3
EHR_PASSWORD_3=Password3

EHR_USERNAME_4=user_4
EHR_PASSWORD_4=Password4